<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qonversion" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Qonversion</name>

  <js-module name="Qonversion" src="www/Qonversion.js">
    <clobbers target="cordova.plugins.Qonversion" /></js-module>

  <platform name="android"><config-file parent="/*" target="res/xml/config.xml">

    <feature name="Qonversion">
      <param name="android-package" value="cordova.plugin.qonversion.QonversionApi" onload="true" />
    </feature>
  </config-file>

  <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <framework src="com.qonversion.android.sdk:sdk:2.7.1" />
    <source-file src="src/android/QonversionActivePermission.java" target-dir="src/cordova/plugin/qonversion" />
    <source-file src="src/android/AppUtil.java" target-dir="src/cordova/plugin/qonversion" />
    <source-file src="src/android/QonversionProduct.java" target-dir="src/cordova/plugin/qonversion" />
    <source-file src="src/android/QonversionUtil.java" target-dir="src/cordova/plugin/qonversion" />
    <source-file src="src/android/QonversionApi.java" target-dir="src/cordova/plugin/qonversion" />
  </platform>




</plugin>
